<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <a v-for="menu in menus"
                   v-bind:key="menu"
                   v-bind:class="['list-group-item list-group-item-action', { active: currentMenu === menu }]"
                   v-on:click="currentMenu = menu"
                   style="cursor: pointer;"
                   role="button">
                    {{ menu | capitalize }}
                </a>
            </div>
            <div class="col-md-9">
                <component v-bind:is="currentMenuComponent"></component>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currentMenu: 'summary',
                menus: ['summary']
            };
        },
        computed: {
            currentMenuComponent() {
                return 'manager-' + this.currentMenu + '-component';
            }
        },
        mounted() {
            //
        }
    }
</script>
