<template>
    <div class="card card-default">
        <div class="card-header">Summary</div>
        <div class="card-body">
            <section v-if="bank">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th scope="col">Total Balance</th>
                            <td>{{ bank.balance }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Name</th>
                            <td>{{ bank.name }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Phone</th>
                            <td>{{ bank.phone }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Address</th>
                            <td>{{ bank.address }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="text-center" v-else>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                bank: null
            };
        },
        created() {
            this.getBankSummary();
        },
        mounted() {
            //
        },
        methods: {
            getBankSummary() {
                let self = this;
                axios.get('/api/bank/summary', this.getConfig())
                    .then(function (res) {
                        self.bank = res.data.data;
                    })
                    .catch(function () {
                        //
                    });
            },
            getConfig() {
                let config = {};
                let token = JSON.parse(localStorage.getItem('token'));
                if (token && token.hasOwnProperty('access_token')) {
                    config = {
                        headers: {
                            Authorization: 'Bearer ' + token.access_token
                        }
                    };
                }

                return config;
            }
        }
    }
</script>