<template>
    <div>
        <header-component></header-component>
        <main class="py-4">
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
    export default {
        mounted() {
            //
        }
    }
</script>
