<template>
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand">Bamms iBank</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <template v-if="navLoading">
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </template>
                    <template v-else>
                        <template v-if="user">
                            <li class="nav-item dropdown">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.name }} <span class="caret"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" v-on:click="logout" style="cursor: pointer">
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </template>
                        <template v-else>
                            <li class="nav-item">
                                <router-link to="login" class="nav-link">
                                    Login
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="register" class="nav-link">
                                    Register
                                </router-link>
                            </li>
                        </template>
                    </template>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                navLoading: false,
                user: null
            };
        },
        created() {
            let token = JSON.parse(localStorage.getItem('token'));
            if (token && token.hasOwnProperty('type')) {
                if (token.type === 'manager') {
                    this.$router.push('/manager/dashboard');
                } else {
                    this.$router.push('/dashboard');
                }
            }

            this.getUser();

            this.$root.$on('logged', () => {
                this.getUser();
            });
        },
        mounted() {
            //
        },
        methods: {
            getUser() {
                this.navLoading = true;

                let self = this;
                axios.get('/api/auth/user', self.getConfig())
                    .then(function (res) {
                        self.navLoading = false;
                        self.user = res.data.data;
                        self.$root.$emit('userLogged', self.user);
                    })
                    .catch(function () {
                        self.navLoading = false;
                        localStorage.removeItem('token');
                        self.$router.push('/login');
                    });
            },
            logout() {
                let self = this;
                axios.post('/api/auth/logout', {}, self.getConfig())
                    .then(function () {
                        self.user = null;
                        localStorage.removeItem('token');
                        self.$router.push('/login');
                    })
                    .catch(function () {
                        localStorage.removeItem('token');
                        self.$router.push('/login');
                    });
            },
            getConfig() {
                let config = {};
                let token = JSON.parse(localStorage.getItem('token'));
                if (token && token.hasOwnProperty('access_token')) {
                    config = {
                        headers: {
                            Authorization: 'Bearer ' + token.access_token
                        }
                    };
                }

                return config;
            }
        }
    }
</script>
