<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>

                    <div class="card-body">
                        <form v-on:submit.prevent="onSubmit" novalidate>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" v-bind:class="{ 'is-invalid' : errors.email }" v-model="form.email">

                                    <span v-if="errors.email" class="invalid-feedback" role="alert">
                                        <strong>{{ errors.email }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" v-bind:class="{ 'is-invalid' : errors.password }" v-model="form.password">

                                    <span v-if="errors.password" class="invalid-feedback" role="alert">
                                        <strong>{{ errors.password }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    email: null,
                    password: null
                },
                errors: {
                    email: null,
                    password: null
                }
            }
        },
        created() {
            let token = JSON.parse(localStorage.getItem('token'));
            if (token) {
                this.$router.push('/dashboard');
            }
        },
        mounted() {
            //
        },
        methods: {
            onSubmit() {
                let self = this;

                // reset error
                _.each(self.errors, function (value, key) {
                    self.errors[key] = null;
                });

                axios.post('/api/auth/login', self.form)
                    .then(function (res) {
                        localStorage.setItem('token', JSON.stringify(res.data));
                        self.$root.$emit('logged', 'User logged');
                        if (res.data.type === 'customer') {
                            self.$router.push('/dashboard');
                        } else {
                            self.$router.push('/manager/dashboard');
                        }
                    })
                    .catch(function (err) {
                        let data = err.response.data;
                        if (data.errors) {
                            _.each(self.errors, function (value, key) {
                                if (data.errors[key]) {
                                    self.errors[key] = _.head(data.errors[key]);
                                }
                            });
                        }
                        
                        if (data.error === 'invalid_credentials') {
                            self.errors.email = data.message;
                        }
                    });
            }
        }
    }
</script>
