<template>
    <div class="card card-default">
        <div class="card-header">Mutation Report</div>
        <div class="card-body">
            <section v-if="transactions.length > 0">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Transaction ID</th>
                            <th scope="col">Transaction Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="transaction in transactions"
                            v-bind:key="transaction.id">
                            <th scope="row">{{ transaction.id }}</th>
                            <td>{{ transaction.name }}</td>
                            <td>{{ transaction.type | capitalize }}</td>
                            <td>{{ transaction.datetime }}</td>
                            <td>{{ transaction.amount }}</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <th scope="row">Current Balance</th>
                            <td>{{ balance }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="text-center" v-else>
                <template v-if="loading">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </template>
                <template v-else>
                    <p>There are no transaction...</p>
                </template>
            </section>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                loading: true,
                transactions: [],
                balance: 0
            };
        },
        mounted() {
            this.getMutation();
        },
        methods: {
            getMutation() {
                let self = this;
                axios.get('/api/transactions/mutation', this.getConfig())
                    .then(function (res) {
                        self.transactions = res.data.data;
                        self.balance = _.sumBy(self.transactions, 'amount');
                        self.loading = false;
                    })
                    .catch(function () {
                        //
                    });
            },
            getConfig() {
                let config = {};
                let token = JSON.parse(localStorage.getItem('token'));
                if (token && token.hasOwnProperty('access_token')) {
                    config = {
                        headers: {
                            Authorization: 'Bearer ' + token.access_token
                        }
                    };
                }

                return config;
            }
        }
    }
</script>