<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form v-on:submit.prevent="onSubmit" novalidate>
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" v-bind:class="{ 'is-invalid' : errors.name }" v-model="form.name">

                                    <span v-if="errors.name" class="invalid-feedback" role="alert">
                                        <strong>{{ errors.name }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-md-4 col-form-label text-md-right">Phone Number</label>

                                <div class="col-md-6">
                                    <input id="phone" type="text" class="form-control" v-bind:class="{ 'is-invalid' : errors.phone }" v-model="form.phone">

                                    <span v-if="errors.phone" class="invalid-feedback" role="alert">
                                        <strong>{{ errors.phone }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="address" class="col-md-4 col-form-label text-md-right">Address</label>

                                <div class="col-md-6">
                                    <input id="address" type="text" class="form-control" v-bind:class="{ 'is-invalid' : errors.address }" v-model="form.address">

                                    <span v-if="errors.address" class="invalid-feedback" role="alert">
                                        <strong>{{ errors.address }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" v-bind:class="{ 'is-invalid' : errors.email }" v-model="form.email">

                                    <span v-if="errors.email" class="invalid-feedback" role="alert">
                                        <strong>{{ errors.email }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" v-bind:class="{ 'is-invalid' : errors.password }" v-model="form.password">

                                    <span v-if="errors.password" class="invalid-feedback" role="alert">
                                        <strong>{{ errors.password }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control" v-bind:class="{ 'is-invalid' : errors.password_confirmation }" v-model="form.password_confirmation">
                                    <span v-if="errors.password_confirmation" class="invalid-feedback" role="alert">
                                        <strong>{{ errors.password_confirmation }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    name: null,
                    phone: null,
                    address: null,
                    email: null,
                    password: null,
                    password_confirmation: null
                },
                errors: {
                    name: null,
                    phone: null,
                    address: null,
                    email: null,
                    password: null,
                    password_confirmation: null
                }
            }
        },
        created() {
            let token = JSON.parse(localStorage.getItem('token'));
            if (token) {
                this.$router.push('/dashboard');
            }
        },
        mounted() {
            //
        },
        methods: {
            onSubmit() {
                let self = this;

                // reset error
                _.each(self.errors, function (value, key) {
                    self.errors[key] = null;
                });

                axios.post('/api/auth/register', self.form)
                    .then(function (res) {
                        localStorage.setItem('token', JSON.stringify(res.data));
                        self.$root.$emit('logged', 'User logged');
                        self.$router.push('/dashboard');
                    })
                    .catch(function (err) {
                        let data = err.response.data;
                        if (data.errors) {
                            _.each(self.errors, function (value, key) {
                                if (data.errors[key]) {
                                    self.errors[key] = _.head(data.errors[key]);
                                }
                            });
                        }
                    });
            }
        }
    }
</script>
