<template>
    <div class="card card-default">
        <div class="card-header">Withdrawal</div>
        <div class="card-body">
            <div v-if="success" class="alert alert-success alert-dismissible fade show" role="alert">
                Withdrawal success!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form v-on:submit.prevent="onSubmit" novalidate>
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                    <div class="col-md-6">
                        <input id="name" type="text" class="form-control" v-bind:class="{ 'is-invalid' : errors.name }" v-model="form.name">

                        <span v-if="errors.name" class="invalid-feedback" role="alert">
                            <strong>{{ errors.name }}</strong>
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="amount" class="col-md-4 col-form-label text-md-right">Amount</label>

                    <div class="col-md-6">
                        <input id="amount" type="number" class="form-control" v-bind:class="{ 'is-invalid' : errors.amount }" v-model="form.amount">

                        <span v-if="errors.amount" class="invalid-feedback" role="alert">
                            <strong>{{ errors.amount }}</strong>
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                success: false,
                form: {
                    name: null,
                    amount: null
                },
                errors: {
                    name: null,
                    amount: null
                }
            }
        },
        mounted() {
            //
        },
        methods: {
            onSubmit() {
                let self = this;

                // reset errors
                self.resetForm(self.errors);

                axios.post('/api/transactions/withdrawal', self.form, self.getConfig())
                    .then(function () {
                        self.success = true;
                        self.resetForm(self.form);
                    })
                    .catch(function (err) {
                        let data = err.response.data;
                        if (data.errors) {
                            _.each(self.errors, function (value, key) {
                                if (data.errors[key]) {
                                    self.errors[key] = _.head(data.errors[key]);
                                }
                            });
                        }
                    });
            },
            resetForm(formOrErrors) {
                _.each(formOrErrors, function (value, key) {
                    formOrErrors[key] = null;
                });
            },
            getConfig() {
                let config = {};
                let token = JSON.parse(localStorage.getItem('token'));
                if (token && token.hasOwnProperty('access_token')) {
                    config = {
                        headers: {
                            Authorization: 'Bearer ' + token.access_token
                        }
                    };
                }

                return config;
            }
        }
    }
</script>